---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.author }}" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <h4>{{ page.author }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="{{ site.baseurl }}/assets/images/blog/{{ post.image }}" alt="{{ post.title }}">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="{{ post.url | relative_url }}">{{ post.title | escape }}</h4>
            <p class="cars-text">{{ post.content | strip_html | truncate: 127 }}</p>
            <a href="{{ post.url | relative_url }}" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->

{% include team-section.html %}